.box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 402px;
    height: 469px;
    left: 519.82px;
    top: 304.37px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.title {
    /* position: relative;
    width: 165px;
    height: 26.99px; */

    margin-top: 36px;
    margin-left: 110.85;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: -0.035em;

    /* Gray 2 */

    color: #4F4F4F;
}

.subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.035em;

    /* Gray 3 */

    color: #828282;

}

img {
    box-sizing: border-box;

    width: 338px;
    height: 218.9px;
    left: 551.82px;
    top: 427.97px;

    background: #F6F8FB;
    border: 1px dashed #97BEF4;
    border-radius: 12px;
}

input {
    width: 101px;
    height: 31.98px;
    left: 670.64px;
    top: 705.39px;

    /* Blue 1 */

    background: #2F80ED;
    border-radius: 8px;
}